* {
  overflow: hidden;
  margin: 0;
}

.background {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1541079033018-63489731598f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 100vh;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2 {
  color: white;
  margin: 10px;
  padding: 20px;
}

button {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 50px;
  width: 500px;
  margin: 10px;
}
button a {
  color: white;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
